; vim: ft=bindzone
$ORIGIN chaotikum.eu.
$TTL 300
@	3600	IN	SOA	deimos	dns	(
		SERIAL		; serial
		1200		; refresh
		120		; retry
		1209600		; expire
		300 )		; minimum

;; DNS
@				IN	NS	deimos
@				IN	NS	nimbus

_kerberos-master._tcp		IN	SRV	0 100 88	nimbus
_kerberos-master._udp		IN	SRV	0 100 88	nimbus
_kerberos._udp			IN	SRV	0 100 88	nimbus
_kerberos._tcp			IN	SRV	0 100 88	nimbus
_kerberos			IN	TXT	"CHAOTIKUM.EU"
_kpasswd._tcp			IN	SRV	0 100 464	nimbus
_kpasswd._udp			IN	SRV	0 100 464	nimbus
_ldap._tcp			IN	SRV	0 100 389	nimbus
_ntp._udp			IN	SRV	0 100 123	nimbus

ocean				IN	NS	ns1.digitalocean.com.
				IN	NS	ns2.digitalocean.com.
				IN	NS	ns3.digitalocean.com.

;; Mail
@				IN	MX	1	nimbus
@				IN	TXT	"v=spf1 mx ip6:2001:19f0:6c01:78::/64 ~all"
lists				IN	MX	1	nimbus
20170824._domainkey		IN	TXT	"k=rsa; p=MIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAtp8C8YIygeIvtJ6m13P6gu+ut88xZnadSm+s5eSuhEqCuRUZXpGiZZjMbLuAnqbdCKTHU3GRiPSEPUMoCa2jxo9GO6X3Y89LYHpymvR3LR4xNtmSfArYZv1nq2iJ6h9t07wctGAaM9o77KkTejrEfQnOVdUlPrm8C2lGRZMGoYafvb7Irz4ppo18fo/cxic0edWujKsAY/" "cUkj1ScIszOBLVaJzmfni7XmYH1NoC0fYpamrcmWsNJM1jO2s7yygbSzJ+ovaM2Ymk2h49TptimA18bBarXh8rRzlrS6K01CpQ5TXqWIVmmedCMdRnWRv/cOTWVvlmrCWSuknYbFPJsZ0IK8M7kjC8x9ERrzoof6/LtPa2ZEkJzkTAmkkDGzwx8mUJjHh7/9geIyGWpQNyu9CH/pIAWb7shC0r99gn0cLje2o9DpPq624GWnvk4FE9CXsmGf8fV" "0FbDAgp15y9i05EcAvi1Gi8sE0UuXq0YVNM18NMCbjxt16DcfNxqJoDAgMBAAE="

;; Hosts
nimbus				IN	A	104.238.167.87
				IN	AAAA	2001:19f0:6c01:78:5400:ff:fe4d:d9a4
deimos				IN	A	104.238.159.174
				IN	AAAA	2001:19f0:6c01:2a0:5400:ff:fe71:788e
ipa0				IN	A	209.250.234.79
				IN	AAAA	2001:19f0:6c01:860:5400:01ff:fe4d:6737
