; vim: ft=bindzone
$ORIGIN qsx.re.
$TTL 300
@	3600	IN	SOA	deimos.chaotikum.eu.	dns.chaotikum.eu.	(
		SERIAL		; serial
		1200		; refresh
		120		; retry
		1209600		; expire
		300 )		; minimum

;; DNS
@				IN	NS	deimos.chaotikum.eu.
@				IN	NS	nimbus.chaotikum.eu.

;; Servers
nimbus				IN	CNAME	nimbus.chaotikum.eu.

;; Mail
@				IN	MX	20	nimbus.chaotikum.eu.
mail._domainkey			IN	TXT	"k=rsa;t=s;p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA9O5POqU6992qu0u9HPWhYRgAK1vKA+NkEyRcU6a8fVo8H2nQNICyEzDj1BqDvvEwRw8YezhlFndi/xoKIRv6paRVGXKVqZbaJy4JbG7hsExmC21PFMGbLSn6IiUFRMfZphHw3lf8WpruQSXA3sJp+CSJSUEMrQFIjlnztuZHQ+oWTct8fjwYdc1DaBunIKIw2GwLDvH" "QWvbEgISXQThfziKe1/kSvINmD+vuCe52Gf0ntTeqdbVfYztnyLEQXlhzIaQxZk6LNNqShKNs0NoL1G1nIXsufd6MRu2d/rWYXTzkYoq5wal39Pl8RbECgDzP4g0zKbs/0J7DFT1VM2aMVwIDAQAB"
@				IN	TXT	"v=spf1 mx ip6:2001:19f0:6c01:78::/64 ~all"
list				IN	MX	1	sculptor.uberspace.de.

;; CNAME Records
mars				IN	CNAME	mars.qsuscs.de.
